.navigation-bar-container {
  position: fixed;
  left: 0;
  top: 0;
}
.navigation-bar,
.nav-category {
  display: flex;
  flex-direction: column;
  height: auto;
}

.navigation-bar {
  position: relative;
  width: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(0, 0, 0, 80%);
  height: 100vh;
  border-right: solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .button {
    width: 3.5rem;

    height: 3.5rem;

    position: relative;
    border-radius: 1rem;
    img {
      border-radius: 1rem;
    }
  }
}
.home-button {
  background-image: url("https://gitcdn.xyz/cdn/BLThunderstorm/BLThunderstorm/development/docs/brand/logo/Logo.svg");
  background-size: cover;
}

.nav-category {
  align-items: center;
}

.profile {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }
}
