.user-page {
  position: relative;

  .user-readme {
    background-color: #121212;
    width: 100%;
  }

  .content-order-container,
  .user-readme {
    padding: 20px;
  }

  .content-order-container .content-order {
    display: flex;
  }

  .user-username-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .user-page-content {
    margin-bottom: 20px;
  }

  .user-wallpaper {
    background-color: black;
    color: white;
    width: 100%;
    position: relative;
    height: 150px;
    display: flex;

    .user-name {
      font-weight: 600;
      font-size: 35px;
    }

    .user-wallpaper-content {
      padding: 20px;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .user-soldiers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .user-soldiers,
  .friends-bar {
    background: #121212;
  }

  .friends-box {
    background: #121212;
    padding: 100px;

    .friends-list {
      display: flex;
      flex-wrap: wrap;

      .user-friend {
        height: 50px;
        width: 50px;
        margin-right: 10px;

        .friend-avatar {
          border-radius: 50px;
          height: 50px;
          width: 50px;
        }
      }
    }
  }
}
